@font-face {
    font-family: AlteHaas;
    src: url(/fonts/Fonts/altehaasgroteskregular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;

    color: white;
    font-family: AlteHaas;
    font-size: 2.5vh;
}





#navbar {
    padding: 0 4vw;
    display: flex;

    height: 6vh;
    background-color: rgb(27, 25, 25);
}

#logo {
    display: flex;
    align-items: center;

    width: 50%;
    min-width: 250px;

    p {
        font-size: 2vh;
        margin-right: 10px;
    }
}

#icons {
    display: flex;
    justify-content: end;

    align-items: center;
    width: 50%;
    min-width: 300px;

    img {
        margin-left: 3vw;
    }
}

.navIcon {
    height: 3vh;
}

#buttonDown{
    height: 15px;
    width: 20px;
}

#profileImg{
    height: 6vh;
}

#bigLogo{
    height: 4vh;
    margin-right: 50px;
}

.highlight{
    display: flex;
    width: 100%;
    margin-top: 2vh;
    height: 0;
    cursor: pointer;
}

#highlight{
    height: 50vh;
    transition: 0.4s;

}

#highlightTitle{
    width: 100%;
    margin-bottom: 10px;
}

#highlightText{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 10vw;
}

#highlightTags{
    display: flex;
    width: 100%;
}

#highlightTags p{
    margin-right: 1vw;
    margin-bottom: 4vh;
    background-color: rgb(40, 37, 37);
    flex-shrink: 0;
    padding: 5px 4px;
    color: rgb(199, 187, 187);

    font-size: 1.7vh;
}

#highlightMatchDate{
    display: flex;
    align-items: center;
    
    width: 100%;
}

#highlightMatch{
    color:rgb(37, 167, 37);
    margin-right: 10px;
}

#highlightDate {
    color: grey;
    font-size: 2vh;
}

#highlightInfo{
    margin: 1.5vh 0 3vh 0;
    width: 100%;
}

#highlightImgCard{
    text-align: right;
    width: 50%;
}

#highlightImg{
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);

    height: 100%;
}


#content{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw 0 4vw;

    height: 88vh
}

.row{
    width: 100%;
}

.cardRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.card{
    flex-grow: 1;
    height: 20vh;
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 550px;
    min-width: 250px;
}

.card:hover{
    cursor: pointer;
    transform: scale(130%);
}

#ad img{
    border: solid white 0.5px;
    border-radius: 3%;
}

.card img{
    height: 100%;
    width: 20vw;

    border-radius: 3%;
}

.header{
    margin-bottom: 2vh;
}

.header h2{
    padding: 0 5vw;
}

