@font-face {
    font-family: AlteHaas;
    src: url(/fonts/Fonts/altehaasgroteskregular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;

    color: white;
    font-family: AlteHaas;
    font-size: 2.5vh;
}

#watchImg{
    left: 15%;
    right: 15%;
    height: 75vh;
    width: 70vw;
    position: absolute;
    z-index: -1;

    display: flex;
    justify-content: center;
}

#bigImg {
    height: 100%;
}

#websiteWrapper {
    height: 98vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menuBand {
    display: flex;
    width: 100%;

    margin-top: 4vh;
}

.menuIcon {
    width: 50%;
    padding: 0 4vh;

}

.menuIcon img {
    height: 4vh;
}

.menuIconImg {
    cursor: pointer;
}

.menuIcon:nth-child(1) img:hover{
    content:url("../../img/linker-pfeil_grey.png");
}

.menuIcon:nth-child(2) img:hover{
    content:url("../../img/flagge_red.png");
}



#preview {
    background-color: rgb(19, 18, 18);
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.previewPic {
    border: solid black 0.5px;
    height: 100%;
    margin: 0 6px;
    filter: grayscale(70%);
    opacity: 0.8;
}

.active{
    border: white 1px solid !important; 
    filter: grayscale(0%);
    opacity: 1;
    transition: all 1s;
}

.previewPic:hover {
    cursor: pointer;
}

#watchWrapper {
    width: 100%;
}

.menuIcon:nth-child(2) {
    text-align: right;
}